body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.ColorNavbar{
    background-color: black;
    position: relative;
    font-weight: bold;
}

.Anuncio{
    background-color: black;
    height: 360px;
    width: 100%;
    
}

.TextCenter{
   
   margin-top: 95px;
   font-size: 70px;
   text-align: center;
   font-weight: 1000;
   color: white;
   position: absolute;
   margin-left: 90px;
}

.fondoContainer{
    background-color: black;
    width: 360px;
    width: 100%;
}

.fondo{
    
    z-index: 1;
    opacity: 15%;
    

    margin-top: -310px;
    max-height: 450px;
    min-height: 50px;
    max-width: 450px;
    min-width: 50px;
    

}

.ColorNext{
    background-color: black;
}

.ctsize{
    font-size: 30px;
    font-weight: 1000;
}

.TmDescriptionCard{
    font-size: 20px;
    font-weight: 1000;
    margin-top: -5px;
}

.TmDescriptionCardFixed{
    font-size: 20px;
    font-weight: 1000;
    margin-top: -25px;
}

body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    
}   

body::-webkit-scrollbar-thumb {
    background: rgb(165, 29, 29);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #9c0000;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}



/* .carousel-control-next, .carousel-control-prev{
    color: black;
    background-color: black;
} */